In [1]:
import pandas as pd

data=pd.read_csv("jobs_data.csv")
data.head(5)

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [12]:
input=data.drop('salary_more_then_100k',axis='columns')
target=data["salary_more_then_100k"]

In [14]:
input.head(5)

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [15]:
target.head(5)

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [ ]:
data["company_n"]=input.fit